@font-face {
    font-family: "STIX Two Math";
    src: url("./STIX Two Math.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("./pt-sans-latin-400-normal.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
