---
import Default from "@astrojs/starlight/components/Header.astro";
import YandexMetrica from "./YandexMetrica.astro";
---

<YandexMetrica />
<Default><slot /></Default>

<div class="test">werwer</div>
